<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>997843034749-augvr94drpdg35jo6kjbti800vujrr6u.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.997843034749-augvr94drpdg35jo6kjbti800vujrr6u</string>
	<key>API_KEY</key>
	<string>AIzaSyBpRBPzDoYi4-5HIBnQ9urpMgu_lsRVt5g</string>
	<key>GCM_SENDER_ID</key>
	<string>997843034749</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.donggyu.DGTD-ios-project</string>
	<key>PROJECT_ID</key>
	<string>dgtd-b3c3f</string>
	<key>STORAGE_BUCKET</key>
	<string>dgtd-b3c3f.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:997843034749:ios:f1ecbf0ec71a319af54714</string>
</dict>
</plist>